.banner{
  height: 200px;
  background-image: url("../../images/background.png");
  background-size: cover;
  padding: 200px 0;
  color: white;
}

.banner p{
  color: rgba(255,255,255,0.6);
  font-size: 20px;
  margin-bottom: 24px;
}

.banner .btn-wrapper{
  margin-top: 24px;
}

